---
title: 스타일 및 네비게이션
---

import '../components/Sidebar.astro';

const { content } = Astro.props;

---

<DefaultLayout title={content.title}>
  <Sidebar slot="toc">
    {{ content.toc }}
  </Sidebar>

  <main class="content">
    <article class="prose">
      <h1>{content.title}</h1>
      <div class="prose">
        <slot />
      </div>
    </article>
  </main>
</DefaultLayout>
